<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class:"form-horizontal well" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :profile_name %>
  <%= f.input :email, :autofocus => true %>  



  
    <%= f.input :password , :autocomplete => "off", hint: "<i>leave blank if you don't want to change it</i>"%><br />

    <%= f.input :password_confirmation %> 


    <%= f.input :current_password, hint: "<i>we need your current password to confirm your changes</i>" %> <br />


  

  <%= f.button :submit, "Update" %>


<% end %>
<h4>Cancel my account</h4>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>


<%= link_to "Back", :back %>